<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="mb-3">
                <h5 class="card-title">Entrate e uscite<span class="text-muted fw-normal ms-2">({{resoconti.length}})</span></h5>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
                <div>
                    <a href="#" routerLink="/add" data-bs-target=".add-new" class="btn btn-primary"><i class="bx bx-plus me-1"></i> Add New</a>
                </div>
                <!-- <div class="dropdown">
                    <a class="btn btn-link text-muted py-1 font-size-16 shadow-none dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bx bx-dots-horizontal-rounded"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <form #updateForm="ngForm">
                    <table class="table project-list-table table-nowrap align-middle table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Data</th>
                                <th scope="col">Descrizione</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Entrata</th>
                                <th scope="col">Uscita</th>
                                <th scope="col" style="width: 200px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let resoconto of resoconti, index as i">
                                <th scope="row" class="ps-4">
                                    <span *ngIf="!isEdit || isEditId != resoconto.id">{{resoconto.data}}</span>
                                    <input *ngIf="isEdit && isEditId == resoconto.id" type="date" class="form-control" id="data" name="data" [(ngModel)]="resoconto.data" placeholder="" />
                                </th>
                                <td>
                                    <a *ngIf="!isEdit || isEditId != resoconto.id" href="#" class="text-body">{{resoconto.descrizione}}</a>
                                    <input *ngIf="isEdit && isEditId == resoconto.id" type="text" class="form-control" id="descrizione" name="descrizione" [(ngModel)]="resoconto.descrizione" placeholder="" />
                                </td>
                                <td>
                                    <span *ngIf="!isEdit || isEditId != resoconto.id">{{resoconto.categoria}}</span>
                                    <select *ngIf="isEdit && isEditId == resoconto.id" class="form-control" id="categoria" name="categoria" [(ngModel)] = resoconto.categoria>
                                        <option value="NECESSITA" selected="selected">NECESSITA</option>
                                        <option value="RISPARMI">RISPARMI</option>
                                        <option value="INVESTIMENTI">INVESTIMENTI</option>
                                        <option value="FORMAZIONE">FORMAZIONE</option>
                                        <option value="SVAGO">SVAGO</option>
                                        <option value="DONAZIONI">DONAZIONI</option>
                                    </select>
                                </td>
                                <td>
                                    <span *ngIf="!isEdit || isEditId != resoconto.id">{{resoconto.entrata}}</span>
                                    <input *ngIf="isEdit && isEditId == resoconto.id" type="text" class="form-control" id="entrata" name="entrata" [(ngModel)]="resoconto.entrata" placeholder="" />
                                </td>
                                <td>
                                    <span *ngIf="!isEdit || isEditId != resoconto.id">{{resoconto.uscita}}</span>
                                    <input *ngIf="isEdit && isEditId == resoconto.id" type="text" class="form-control" id="uscita" name="uscita" [(ngModel)]="resoconto.uscita" placeholder="" />
                                </td>
                                <td>
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a href="#" (click)="onEdit(resoconto.id); onSubmit(i)" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="px-2 text-primary"><i class="bx bx-pencil font-size-18"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" (click)="deleteResoconto(resoconto.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" class="px-2 text-danger"><i class="bx bx-trash-alt font-size-18"></i></a>
                                        </li>
                                        <!-- <li class="list-inline-item dropdown">
                                            <a class="text-muted dropdown-toggle font-size-18 px-2" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true"><i class="bx bx-dots-vertical-rounded"></i></a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </li> -->
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="budget">
                <strong>Budget Totale: {{this.budget}} €</strong>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <!-- <div class="row g-0 align-items-center pb-4">
        <div class="col-sm-6">
            <div><p class="mb-sm-0">Showing 1 to 10 of 57 entries</p></div>
        </div>
        <div class="col-sm-6">
            <div class="float-sm-end">
                <ul class="pagination mb-sm-0">
                    <li class="page-item disabled">
                        <a href="#" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                    </li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item">
                        <a href="#" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->
</div>